body {
    margin: 0;
}

div {
    width: 150px;
    height: 50px;
    background-color: lightblue;
    margin: 30px;
    padding: 10px;
    text-align: center;
}

.static-position {
    /*Is not affected by the top,left,right and bottom properties*/
    position: static;
}

.relative-position {
    position: relative;
    top: 30px;
    left: 20px;
    background-color: red;
}


.absolute-position {
    position: absolute;
    top: 150px;
    left: 50px;
}

